
  body{
    font-family:Arial, sans-serif;
    background-image: url("graffiti.jpg");
    background-repeat:no-repeat;
    background-size:cover;
  }

  nav{
    margin-top:2%;
    width: 100%;
    border:1px solid grey;
    border-radius:15px;
    margin-bottom:2%;
    background:#000;

    h1{
      font-family:Papyrus;
      text-align:center;
      font-size:50px;
      color:#c40082;
    }
  }
  .row{
    display:block;
    width:80%;
    margin:0 auto;

    }

    p, h4{
      font-size:1.75em;
    }

    h4 {
      font-weight:bold;
    }
  .chatbox{
    background-color:#ffffff;
    opacity:0.8;
    margin:0 auto;
    display:inline-block;
    min-height:250px;
    border:1px solid grey;
    border-radius:15px;
  }
