
  body{
    font-family:Arial, sans-serif;
    background-color:#c5f1f7;
  }

  nav{
    margin-top:2%;
    width: 80%;
    border:1px solid grey;
    border-radius:15px;
    margin-bottom:2%;

    h1{
      font-family:Papyrus;
      text-align:center;
      font-size:50px;
      color:#120054;
    }
  }
  .row{
    display:block;
    width:80%;
    margin:0 auto;

    }
  .chatbox{
    margin:0 auto;
    display:inline-block;
    min-height:250px;
    border:1px solid grey;
    border-radius:0 15px 15px 0;
  }
  .aside{
  display:inline-block;
  border:1px solid grey;
  border-radius:15px 0 0 15px;
  min-height:250px;
  background-color:#c7b5d1;

}
